#app {
      display: inline-block;
      padding: 10px;
      font-size: x-large;
      background-color: lightgreen;
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}


.header {
  background-color: rgb(240, 248, 255);
  color: rgb(54, 69, 79);
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  
}

.main {
  display: flex;
  flex-direction: row;
}


.main-content {
  flex: 2;
  background-color: #f9f9f9;
  padding: 20px;
}

.main-content > div {
  margin-bottom: 20px;
}

.main-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(70, 130, 180);
}

.main-content p,
.main-content ul {
  font-size: 1rem;
  color: rgb(47, 79, 79);
  line-height: 1.6;
}

.button {
  background-color: rgb(70, 130, 180);
  color: white;
  display: inline-block;
  font-family: "Times New Roman";
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(54, 69, 79); 
  transform: scale(1.1);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(70, 130, 180);
}

.sidebar {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-left: 2px solid #ddd;
  text-align: center;
}

.sidebar h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #333;
}

.sidebar p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.sidebar img {
  display: block;
  margin: 10px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.sidebar img:hover {
  transform: scale(1.1);
  border-color: #aaa;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main {
      flex-direction: column;
  }

  .sidebar {
      border-left: none;
      border-top: 2px solid #ddd;
  }
}